<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="font-family: myfont">
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="myfont">
        <ion-card-title style="text-align: center;">
            3 Months Diet
        </ion-card-title>
        <ion-card-content style="text-align: justify;">
            <li style="font-size: 14px;">3 months diet is ultimate weight loss plan, which means eat everything in a 4 day rotation.</li>
            <li style="font-size: 14px;">Main goal is to lose 13.6 kilograms for period of 90 days.</li>
            <li style="font-size: 14px;"> Diet has to stop after 90 days. If you wish, you can repeat the diet after a 3 month period.</li>
            <li style="font-size: 14px;">Alcohol intake is not allowed during the diet.</li>
            <br>
            <div style="text-align: center;" class="myfont">
                <ion-card-title>Your Progress</ion-card-title>
                <ion-card-content>
                    {{time.hour}} : {{time.minutes}} : {{time.seconds}}
                </ion-card-content>
                <div class="progress-outer">
                    <div class="progress-inner myfont" [style.width]="time.percentage + '%'">
                        {{time.percentage}}%
                    </div>
                </div>
                <ion-button class="myfont" (click)="timerr()" color="medium" [disabled]="!time.isenabled"> Start Timer
                </ion-button>
                <ion-button class="myfont" (click)="dayPage()" color="medium"> View Diet</ion-button>
            </div>
        </ion-card-content>

    </div>
</ion-content>
